#Nombre_Soft{
    
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color: white;
}

#btnIng{
    
    font-family: 'Fredoka One', cursive;
}

#jumbotron{
    
    background-image: url("../imagenes/img_jumbotron1.jpg");
    background-size: cover;
    
}